* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-fluid {
  overflow: hidden;
  cursor: pointer;
  min-height: 100vh;
  background-color: black;
  color: aliceblue;
  font-family: "BR Segma", sans-serif;
}
.card {
  background-color: #1a1f24;
  color: aliceblue;
}

.btn-primary,
.btn-primary:active {
  background-color: #00ff88;
  box-shadow: none;
  border-color: #00ff88;
}
.btn-primary:hover,
.btn-primary:active:focus {
  background-color: #113c28;
}
.btn-primary {
  width: 50% !important;
}

.description_row .p {
  font-size: 30px;
}

.experience_section .card .card-body h6 {
  font-size: 20px;
}
/* .experience_section {
  padding-left: 6%;
} */
@media (min-width: 1028px) {
  .card-img-top {
  }
  .experience_section {
    padding-left: 32%;
  }

  p {
    margin-top: 0;
    margin-bottom: 7px;
  }
}

a {
  text-decoration: none;
  color: #00ff88;
}
.projects .card {
  width: 100% !important;
}
/* ANIMATIONS AND TRANSITIONS */
.description_row .col-6:hover {
  transform: scale(1.2);
}

/* card holding introductory image comes in */
.image {
  animation: enter 3s ease forwards;
}
@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* text beside introductory image */
.image_text {
  animation: text_enter 3s ease forwards;
}

@keyframes text_enter {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.experience_1 {
  opacity: 0;
  transform: translateX(-200px);
  animation: experience 3s ease-in 2s forwards;
}
/* experience section */
@keyframes experience {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.experience_2 {
  opacity: 0;
  transform: translateX(200px);
  animation: experience 3s ease-in 4s forwards;
}

/* projects animation */
.projects {
  opacity: 0;
  transform: translateY(30px);
  animation: experience 4s linear forwards;
}
